MONGODB_URI=mongodb://mongo:27017/payload
MONGODB_PORT=27017

PAYLOAD_URI=https://payload.domain.com
PAYLOAD_SECRET=payloadsecreta5e6ea45ef4e66eaa151612bdcb599df
PAYLOAD_PORT=3000
RECORDER_DEFAULT_PASSWORD=somepassword

STRAPI_URI=https://strapi.domain.com
STRAPI_TOKEN=strapisecreta5e6ea45ef4e66eaa151612bdcb599df

SEEDING_ADMIN_USERNAME=admin_name
SEEDING_ADMIN_EMAIL=email@domain.com
SEEDING_ADMIN_PASSWORD=somepassword

WEB_HOOK_TOKEN=webhooktoken5e6ea45ef4e66eaa151612bdcb599df
WEB_HOOK_URI=https://accords-library.com/some/path

SFTP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nxxxxxxxxxx..."
SFTP_USERNAME=someuser
SFTP_HOST=host.com
SFTP_DESTINATION_PATH_ROOT="/absolute/path/to/destination/root/folder"
SFTP_BASE_URL=https://base-url.com

PAYLOAD_PUBLIC_FRONTEND_BASE_URL=https://domain.com