// Theme override

html[data-theme="dark"] {
  --color-base-0: #ffffff;
  --color-base-50: #ebeae7;
  --color-base-100: #ebeae7;
  --color-base-150: #e5c1a1;
  --color-base-200: #dcb392;
  --color-base-250: #d3a583;
  --color-base-300: #d59e7d;
  --color-base-350: #cb906c;
  --color-base-400: #be825c;
  --color-base-450: #af7650;
  --color-base-500: #9f6a47;
  --color-base-550: #8f5f3f;
  --color-base-600: #7d5438;
  --color-base-650: #6c4a33;
  --color-base-700: #5a402d;
  --color-base-750: #4a3728;
  --color-base-800: #3a2d22;
  --color-base-850: #2a2521;
  --color-base-900: #1d1a17;
  --color-base-950: #12100e;
  --color-base-1000: #000000;
}

html[data-theme="light"] {
  --color-base-0: #ffedd8;
  --color-base-50: #f9dec2;
  --color-base-100: #efcfb1;
  --color-base-150: #e5c1a1;
  --color-base-200: #dcb392;
  --color-base-250: #d3a583;
  --color-base-300: #c99674;
  --color-base-350: #bf8966;
  --color-base-400: #b37d59;
  --color-base-450: #a76f4d;
  --color-base-500: #9a6443;
  --color-base-550: #8b593a;
  --color-base-600: #7a4f33;
  --color-base-650: #6a452d;
  --color-base-700: #5a3c27;
  --color-base-750: #493322;
  --color-base-800: #3a2b1d;
  --color-base-850: #2b2218;
  --color-base-900: #1d1912;
  --color-base-950: #11100b;
  --color-base-1000: #000000;
}

// Fix height disparities between certain fields

.field-type.row {
  padding: 1rem 0;

  > div > .field-type.checkbox {
    padding-top: 2.4rem;
  }
}

.field-type.radio-group {
  > ul {
    padding: 0.75rem 0;
  }
}

// Hide header on fields with classname "no-label"

.field-type.no-label > header {
  display: none;
}

.lexical-block__block-pill-transcriptBlock + .section-title {
  display: none;
}

.blocks-field__block-pill-cueBlock + .section-title,
.blocks-field__block-pill-pageRange + .section-title,
.blocks-field__block-pill-timeRange + .section-title,
.blocks-field__block-pill-urlBlock + .section-title,
.blocks-field__block-pill-pageBlock + .section-title,
.blocks-field__block-pill-collectibleBlock + .section-title,
.blocks-field__block-pill-page + .section-title,
.blocks-field__block-pill-timestamp + .section-title,
.blocks-field__block-pill-other + .section-title,
.blocks-field__block-pill-other + .section-title {
  display: none;
}

.collapsible__toggle-wrap:has(
    .blocks-field__block-pill-page,
    .blocks-field__block-pill-timestamp,
    .blocks-field__block-pill-other,
    .blocks-field__block-pill-pageRange,
    .blocks-field__block-pill-timeRange
  )
  .blocks-field__block-number {
  display: none;
}

// Reduce margin on Lexical blocks with the classname "reduced-margins"

.rich-text-lexical.field-type.reduced-margins {
  margin-top: -0.75em;
  margin-bottom: -2rem;
}

.rich-text-lexical.field-type.section-reduced-margins {
  margin-top: -1.5em;
  margin-bottom: -2rem;
}

// CSS for componentField

.collapsible-field.component-field {
  > .collapsible > .collapsible__toggle-wrap {
    display: none;
  }

  .component-field-checkbox {
    margin-bottom: 0;

    .checkbox-input {
      flex-direction: row-reverse;
      justify-content: space-between;
      display: flex;
      gap: 16px;
      pointer-events: none;

      > .checkbox-input__input {
        pointer-events: auto;
      }
    }

    .field-label {
      font-weight: 500;
      font-family: "Suisse Intl";
      font-size: 1.7788461538rem;
      padding: 0;
      transform: translateY(2px);
    }
  }

  .component-field-group {
    margin-top: 2rem;

    > .group-field__wrap > .group-field__header {
      display: none;
    }
  }
}
